@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }

    .header {
        min-height: 600px;

        &__heading-main {
            max-width: 62%;
        }
        &__descr {
            max-width: 52%;
        }
    }

    .about {
        min-height: 575px;

        &__map {
            width: 90%;
            left: 7%;
        }

        &__photo-1 {
            left: 45%;
            width: 50%;
        }

        &__photo-2 {
            top: 45%;
            left: 35%;
            width: 30%;
        }
    }

    .journal {
        padding: 40px 0;

        &__item {
            padding: 20px 20px;
        }
    }

    .contact {
        min-height: 470px;
        padding-top: 40px;
        background-size: contain;
        background-position: center bottom;
    }

    .feed-form {
        width: 76%;
    }

    .travel {
        background-size: contain;
        min-height: 860px;

        &__map {
            width: 90%;
        }

        &__card {
            width: 19%;
        }

        &__location {
            margin-top: 92px;
        }
    }

    .gallary {
        padding: 40px 0;
        
        &__block {
            width: 100%;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-around;
        }

        &__img {
            width: 45%;
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 760px;
    }

    .nav {
        &__brand {
            margin: 0 15px;
        }
    }

    .menu {
        margin-right: 10px;
    }

    .header {
        min-height: 500px;
        padding-top: 200px;

        &__heading-main {
            font-size: 40px;

            span {
                font-size: 59px;
            }
        }

        &__descr {
            font-size: 16px;
        }
    }

    .about {
        min-height: 430px;

        .wave {
            margin-top: 50px;
        }
    }

    .journal {
        &__header {
            margin-top: 25px;
            margin-bottom: 20px;
            font-size: 12px;
        }

        &__descr {
            font-size: 11px;
        }
    }

    .feed-form {
        flex-direction: column;
        width: 252px;
        height: 100%;
        background-color: transparent;

        &__input {
            width: 100%;
            margin-bottom: 15px;
            padding: 15px;
        }
    }

    .work {
        padding: 30px 0;
        
        &__heading {
            margin: 30px 0 40px 0;
        }

        &__icon {
            margin-top: 30px;
            width: 145px;
            height: 145px;
        }

        &__subheader {
            margin-top: 20px;
            font-size: 16px;
        }

        &__descr {
            font-size: 13px;
        }
    }

    .travel {
        &__map {
            display: none;
        }

        &__heading {
            margin-bottom: 40px;
        }

        &__card {
            margin-left: auto;
            margin-bottom: 15px;
            height: 365px;
            width: 27%;

            &:last-child {
                margin-right: auto;
            }
        }

        &__location {
            margin-top: 102px;
        }
    }

    .feed {
        padding-top: 25px;
        min-height: 1240px;

        &__text {
            font-size: 14px;
        }
    }
    
}

@media (max-width: 767px) {
    .container {
        max-width: 575px;
    }

    .header {
        padding-top: 110px;
        min-height: 425px;

        &__heading-main {
            max-width: 88%;
        }
    }

    .nav__wrapper {
        justify-content: space-between;
    }

    .menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        list-style: none;
        background-color: rgba(111,111,111,0.8);
        transition: all 0.6s;
        &--active {
            left: 0;
        }
        &__item {
            padding-right: 0px;
            margin: 10px 0;
        }

        &__link {
            &,
            &:link,
            &:visited {
                line-height: 20px;
            }
        }
    }

    .hamburger {
        display: block;
        top: 47px;
        width: 20px;
        height: 12px;
        cursor: pointer;
    
        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: $color-grey-light-5;
            margin-bottom: 2px;
            transition: all 0.5s;
        }    
    
        &--active {
            span {
                margin-bottom: -2px;
                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }

    .about {
        &__photo-2 {
            top: 40%;
            width: 45%;
        }
    }

    .journal {
        &__heading {
            margin-top: 20px;
            margin-bottom: 35px;
        }

        &__img, &__item {
            flex: 0 0 50%;
        }

        &__item--1 {
            order: -1;
        }
        
        &__img_3 {
            order: 1;
        }
    }

    .contact {
        padding-top: 0;

        &__heading {
            margin: 20px 0;
        }

        &__descr {
            margin-bottom: 15px;
            font-size: 12px;
            line-height: 24px;
        }
    }

    .work__item {
        flex: 0 0 50%;
        margin-bottom: 15px;
    }

    .travel__card {
        width: 36%;
    }

    .brand__wrapper {
        height: 100px;
    }

    .feed {
        &__heading {
            margin-top: 20px;
            margin-bottom: 40px;
        }

        &__wrapper {
            flex-wrap: wrap;
        }

        &__item {
            margin-bottom: 40px;
        }

        &__text {
            margin-bottom: 10px;
            font-size: 13px;
        }
    }

    .feed-block {
        margin-top: 0;
    }

    .footer {
        &__copyright {
            font-size: 12px;
        }

        &__phone {
            &,
            &:link,
            &:visited {
                font-size: 20px;
            }
        }
    }
}