@mixin heading($fz) {
    font-size: $fz;
    line-height: $fz;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $color-headers;
}

@mixin descr($fz) {
    font-size: $fz;
    line-height: 26px;
    font-weight: 400;
    color: $color-text-1;
}

@mixin circle($width) {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $width;
    height: $width;
    border-radius: 100%;
}