.page {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;

  &__nav {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}

::selection {
  background-color: $color-main;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: lighten($color-main, 30%);
}

::-webkit-scrollbar-thumb {
  background-color: $color-main;

  @include hover (background-color, darken($color-main, 10%));
}

::-webkit-scrollbar-track-piece {
  display: none;
}
