.about {
    min-height: 667px;
    background-color: #f6f4f4;

    &__map {
        position: absolute;
        top: 23px;
        left: 100px;
        opacity: 0.21;
    }

    &__photo-1 {
        position: absolute;
        top: -36px;
        left: 549px;
    }

    &__photo-2 {
        position: absolute;
        top: 277px;
        left: 458px;
    }

    .wave {
        margin-top: 204px;
    }

    &__heading {
        margin-top: 43px;
        margin-bottom: 29px;
        @include heading;
    }

    &__descr {
        margin-bottom: 30px;
        max-width: 33%;
        @include descr(14px);
    }
}