.header {
    min-height: 698px;
    padding-top: 264px;
    position: relative;
    background: url(../img/bg_1.jpg) center center/cover no-repeat;

    &__heading-main {
        max-width: 45%;
        font-size: 50px;
        line-height: 0.8;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.12em;
        color: $color-white;
        span {
            font-family: $font-brigin;
            font-size: 66px;
            line-height: 40px;
            font-weight: 400;
            text-transform: none;
            letter-spacing: 0.02em;
            color: $color-blue-6;
        }
    }

    &__descr {
        margin: 15px 0 27px 0;
        max-width: 40%;
        opacity: 0.74;
        font-size: 18px;
        line-height: 29px;
        font-weight: 400;
        color: $color-white;
    }
}

.nav {
    background-color: rgba($color-white, .23);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    &__brand {
        margin: 0 61px 0 15px;
        font-family: $font-brigin;
        font-size: 29px;
        line-height: 44px;
        font-weight: 400;
        color: $color-blue-main;
        span {
            color: $color-grey-light-2;
        }
    }
    
    &__wrapper {
        min-height: 88px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.menu {
    width: 514px;
    margin: 0;
    padding: 0;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    &__link {
        &,
        &:link,
        &:visited {
            padding: 3px;
            font-size: 12px;
            line-height: 44px;
            font-weight: 700;
            text-transform: uppercase;
            color: $color-grey-light-1;
            transition: all .2s;
        }

        &:hover {
            text-decoration: none;
            border-bottom: 1px solid $color-blue-main;
        }
    }
}